<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sigit.sas.me.ruangilmupi">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logoquiz"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".About"
            android:screenOrientation="portrait" />
        <activity android:name=".Akun"
            android:screenOrientation="portrait" />
        <activity android:name=".BukuMateri"
            android:screenOrientation="portrait" />
        <activity android:name=".BukuMateriIndonesia"
            android:screenOrientation="portrait" />
        <activity android:name=".BukuMateriMTK"
            android:screenOrientation="portrait" />
        <activity android:name=".fragmentKuisIPA1"
            android:screenOrientation="portrait" />
        <activity android:name=".fragmentMateriIPA1"
            android:screenOrientation="portrait" />
        <activity android:name=".BukuMateriIPA" />
        <activity android:name=".fragmentMateriIPA2"
            android:screenOrientation="portrait" />
        <activity android:name=".Kuis"
            android:screenOrientation="portrait" />
        <activity android:name=".LayoutMateri"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".MenuKuisBelajar"
            android:screenOrientation="portrait" />
        <activity android:name=".Score"
            android:screenOrientation="portrait" />
        <activity android:name=".ScoreLulus"
            android:screenOrientation="portrait" />
        <activity android:name=".SettingSound" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".fragmentKuisIPA2"
            android:screenOrientation="portrait" />
        <activity android:name=".fragmentKuisIPA_Ujian"
            android:screenOrientation="portrait" />
        <activity android:name=".KuisIPA_UjianPenjelasan"
            android:screenOrientation="portrait" />
        <activity android:name=".fragmentKuisMTK1"
            android:screenOrientation="portrait" />
        <activity android:name=".fragmentKuisMTK2"
            android:screenOrientation="portrait" />
        <activity android:name=".fragmentKuisINDO1"
            android:screenOrientation="portrait" />
        <activity android:name=".fragmentKuisINDO2"
            android:screenOrientation="portrait" />
        <activity android:name=".fragmentKuisMTK_Ujian"
            android:screenOrientation="portrait" />
        <activity android:name=".fragmentMateriMTK1"
            android:screenOrientation="portrait" />
        <activity android:name=".fragmentMateriMTK2"
            android:screenOrientation="portrait" />
        <activity android:name=".fragmentMateriINDO1"
            android:screenOrientation="portrait" />
        <activity android:name=".fragmentMateriINDO2"
            android:screenOrientation="portrait" />
        <activity android:name=".fragmentKuisINDO_Ujian"
            android:screenOrientation="portrait" >

        </activity>
    </application>

</manifest>